body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}

.calculator {
    width: 260px;
    background: #000;
    padding: 20px;
    border-radius: 10px;
}

#display {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    font-size: 28px;
    text-align: right;
    padding: 10px;
    background: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #333;
    color: white;
}

button:hover {
    background: #444;
}

.clear {
    background: #e63946;
}

.equal {
    background: #1d3557;
    grid-row: span 2;
    height: 100%;
}

.zero {
    grid-column: span 2;
}
